{% extends "baseContact.html" %}

{% block content %}

  <!-- ヘッダー -->
  <header class="jumbotron sticky-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div id="header_logo">
            <img class="float-right" src="/static/images/circle_emblem.png" width="100" alt="サークルエンブレム">
          </div>
        </div>
        <div class="col-6">
          <div id="header_logo">
            <h1 style="text-align:left"><a href="/" class="text-decoration-none">よさこいチーム<br>大和まほろ座</a></h1>
          </div>
        </div>
      </div>

      <div class="row menu">
        <div class="mx-auto" style="width: 880px;">
          <!-- メインメニュー -->
          <ul id="menu">
            <li id="menu01"><a href="/" class="btn btn01">概要</a></li>
            <li id="menu02"><a href="/#anchor_schedule" class="btn btn02">練習予定</a></li>
            <li id="menu03"><a href="/#anchor_join" class="btn btn03">参加方法</a></li>
            <li id="menu04"><a href="/#anchor_faq" class="btn btn04">FAQ</a></li>
            <li id="menu05"><a href="{% url 'Circle:contact_form' %}" class="btn btn05">お問い合わせ</a></li>
            <li id="menu06"><a href="{% url 'Circle:login' %}" class="btn btn06">会員専用</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- ボディ -->
  <div class="container-fluid body">

    <div id="inquiry">
      <div class="row contact">
        <div class="col-10">
          <h2><span style="border-bottom: solid 2px black;">お問い合わせ</span></h2>
          <br>

          <p>よさこいチーム　大和まほろ座に関する質問等がありましたら、ご連絡ください！</p>
          <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <div id="sendButton">
              <button type="submit" class="btn btn-primary">送信</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- フッター -->
  <footer class="jumbotron fixed-bottom">
    <div class="container">
      <ul class="snsButtons">
        <li class="snsButtons_twitter"><i class="fab fa-twitter"></i>
          <span class="snsButtons_label">
            <a href="https://twitter.com/yamato_mahoroza" target="_blank">twitter</a>
          </span>
        <li class="snsButtons_instagram"><i class="fab fa-instagram"></i><span class="snsButtons_label">instagram</span>
        <li class="snsButtons_line"><i class="fab fa-line"></i><span class="snsButtons_label">Line</span>
      </ul>
      <center>
        <p><small>&copy; copyright 2020</small></p>
      </center>
    </div>
  </footer>

{% endblock %}