{% extends "base.html" %}

{% block content %}

  <!-- ヘッダー -->
  <div class="d-none d-md-block sticky-top">
    <!-- 上部固定 -->
    <header class="jumbotron sticky-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            <div id="header_logo">
              <img class="float-right" src="/static/images/circle_emblem.png" width="100" alt="サークルエンブレム">
            </div>
          </div>
          <div class="col-7">
            <div id="header_logo">
              <h1 style="text-align:left">
                <a href="/" class="text-decoration-none">
                  <font color="white">よさこいチーム<br>　ど　ろ　ろ　</font>
                </a>
              </h1>
            </div>
          </div>
        </div>

        <div class="row menu">
          <div class="mx-auto" style="width: 880px;">
            <!-- メインメニュー -->
            <ul id="menu">
              <li id="menu01"><a href="#anchor_overview" class="btn btn01">概要</a></li>
              <li id="menu02"><a href="#anchor_schedule" class="btn btn02">練習予定</a></li>
              <li id="menu03"><a href="#anchor_join" class="btn btn03">参加方法</a></li>
              <li id="menu04"><a href="#anchor_faq" class="btn btn04">FAQ</a></li>
              <li id="menu05"><a href="{% url 'Circle:contact_form' %}" class="btn btn05">お問い合わせ</a></li>
              <li id="menu06"><a href="{% url 'Circle:login' %}" class="btn btn06">会員専用</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- ヘッダー mdサイズ未満 -->
  <div class="d-block d-md-none">
    <!-- 上部固定無し -->
    <header class="jumbotron" id="min_size">
      <div class="container-fluid" id="min_container">
        <div class="row">
          <div class="col-4">
            <div id="header_logo">
              <img class="float-right" src="/static/images/circle_emblem.png" width="80" alt="サークルエンブレム">
            </div>
          </div>
          <div class="col-8">
            <div id="header_logo">
              <h3 style="text-align:left">
                <a href="/" class="text-decoration-none">
                  <font color="white">よさこいチーム<br>　ど　ろ　ろ　</font>
                </a>
              </h3>
            </div>
          </div>
        </div>

        <div class="row menu">
          <div class="mx-auto" style="width: 880px;">
            <!-- メインメニュー -->
            <div id="nav-drawer">
              <input id="nav-input" type="checkbox" class="nav-unshown">
              <label id="nav-open" for="nav-input"><span></span></label>
              <label class="nav-unshown" id="nav-close" for="nav-input"></label>
              <div id="nav-content">
                <ul id="nav_menu">
                  <li id="nav_menu01"><a href="#anchor_overview_min" class="btn nav_btn01">概要</a></li>
                  <li id="nav_menu02"><a href="#anchor_schedule_min" class="btn nav_btn02">練習予定</a></li>
                  <li id="nav_menu03"><a href="#anchor_join_min" class="btn nav_btn03">参加方法</a></li>
                  <li id="nav_menu04"><a href="#anchor_faq_min" class="btn nav_btn04">FAQ</a></li>
                  <li id="nav_menu05"><a href="{% url 'Circle:contact_form' %}" class="btn nav_btn05">お問い合わせ</a></li>
                  <li id="nav_menu06"><a href="{% url 'Circle:login' %}" class="btn nav_btn06">会員専用</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- ボディ -->
  <div class="container-fluid body">

    <!-- NEWS -->
    <div class="row news">
      <!-- Twitterのタイムライン -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <a class="twitter-timeline" data-lang="ja" data-width=100% data-height="510" data-theme="dark" href="https://twitter.com/dororo_n?ref_src=twsrc%5Etfw">Tweets by dororo_n</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <!-- instagramのタイムライン -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <!-- <iframe src="https://snapwidget.com/embed/877834" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; height:696px"></iframe> -->
        <iframe src="https://snapwidget.com/embed/877837" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; height:330px"></iframe>
      </div>

      <hr color="#000000" width="100%" size="5">
    </div>

    <!-- 概要 -->
    <div class="row overview">
      <div id="overview">
        <div id="anchor_overview_min"></div>
        <div id="anchor_overview">
          <h2><span style="border-bottom: solid 2px black;">私たちについて</span></h2>
        </div>

        <h2>  よさこいチームとは？</h2>
        <p>民謡を取り入れた楽曲を用いてオリジナルの踊りを披露し合う『よさこい祭り』に参加するためのチームです。</p>
        <br>

        <h2>  よさこいチーム『どろろ』とは？</h2>
        <p>大阪で活動する社会人・学生のよさこいチームです！</p>
        <p>一人でも多くの方々によさこいの魅力を知ってもらうため、日々練習しています！</p>
        <p>練習の見学はいつでもOKですので興味を持ちましたら、<span style="position: relative;z-index: 2;"><a href="{% url 'Circle:contact_form' %}">お問い合わせフォーム</a></span>よりご連絡ください！</p>

      </div>
      <hr color="#000000" width="100%" size="5">
    </div>

    <!-- 練習予定 -->
    <div class="row schedule">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div id="anchor_schedule_min"></div>
        <div id="anchor_schedule">
          <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=ZG9yb3JvLnlvc2Frb2lAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showNav=1" style="border-width:0" width=100% height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
      <hr color="#000000" width="100%" size="5">
    </div>

    <!-- 参加方法 -->
    <div class="row join">
      <div id="anchor_join_min"></div>
      <div id="anchor_join">
        <h2>参加方法</h2>
        <h2>①練習日を確認し、お問い合わせ下さい</h2>
        <h2><p>②担当よりご連絡します</p></h2>
        <br>
        <h2>③見学にお越しいただき、一緒に踊りましょう！</h2>
        <h2><p>④サークル加入を希望の場合は、ご連絡ください！</p></h2>
      </div>
      <hr color="#000000" width="100%" size="5">
    </div>

    <div class="row overview">
      <div id="anchor_faq_min"></div>
      <div id="anchor_faq">
        <h2>FAQ</h2>
        <ul>
          <li1>■社会人で始める人っていますか？</li1>
            <p>　　→現在メンバーはほとんどが初心者の社会人です。</p>
            <li1>■年齢制限はありますか？</li1>
            <p>　　→特に年齢制限は設けていませんが、高校生以下に関しましては</p>
            <p>　　保護者の同意や同伴(小中学生)等の対応を考えています。</p>
            <li1>■練習は厳しいですか？</li1>
            <p>　　→ほんわかやっています。ほぼ初心者なので未経験者大歓迎です！</p>
            <li1>■大学生でも参加できますか？</li1>
            <p>　　→サークル部活ではないので、大阪のいろんな大学生に来てほしいと思っています。</p>
            <p>　　　大交流会！友達いっぱい！</p>
        </ul>
      </div>
       <hr color="#000000" width="100%" size="5">
    </div>

  </div>

  <!-- フッター -->
  <div class="d-none d-md-block sticky-top">
    <footer class="jumbotron fixed-bottom">
      <div class="container">
        <ul class="snsButtons">
          <li class="snsButtons_twitter"><i class="fab fa-twitter"></i>
            <span class="snsButtons_label">
              <a href="https://twitter.com/dororo_n" target="_blank">twitter</a>
            </span>
          <li class="snsButtons_instagram"><i class="fab fa-instagram"></i>
            <span class="snsButtons_label">
              <a href="https://www.instagram.com/dororo_yosakoi/" target="_blank">instagram</a>
            </span>
          <li class="snsButtons_line"><i class="fab fa-line"></i>
            <span class="snsButtons_label">
              <a href="https://lin.ee/ckZrsBC" target="_blank">Line</a>
            </span>
        </ul>
        <center>
          <p><small>&copy; copyright 2020</small></p>
        </center>
      </div>
    </footer>
  </div>

  <!-- ヘッダー mdサイズ未満 -->
  <div class="d-block d-md-none">
      <footer class="jumbotron">
      <div class="container_min">
        <ul class="snsButtons_min">
          <li class="snsButtons_twitter"><i class="fab fa-twitter"></i>
            <span class="snsButtons_label_min">
              <a href="https://twitter.com/dororo_n" target="_blank">twitter</a>
            </span>
          <li class="snsButtons_instagram"><i class="fab fa-instagram"></i>
            <span class="snsButtons_label_min">
              <a href="https://www.instagram.com/dororo_yosakoi/" target="_blank">instagram</a>
            </span>
          <li class="snsButtons_line"><i class="fab fa-line"></i>
            <span class="snsButtons_label_min">
              <a href="https://lin.ee/ckZrsBC" target="_blank">Line</a>
            </span>
        </ul>
        <center>
          <p><small>&copy; copyright 2020</small></p>
        </center>
      </div>
    </footer>
  </div>

{% endblock %}