{% extends "base.html" %}

{% block content %}

  <!-- ヘッダー -->
  <header class="jumbotron sticky-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div id="header_logo">
            <img class="float-right" src="/static/images/circle_emblem.png" width="100" alt="サークルエンブレム">
          </div>
        </div>
        <div class="col-6">
          <div id="header_logo">
            <h1 style="text-align:left"><a href="/" class="text-decoration-none">よさこいチーム<br>大和まほろ座</a></h1>
          </div>
        </div>
      </div>

      <div class="row menu">
        <div class="mx-auto" style="width: 880px;">
          <!-- メインメニュー -->
          <ul id="menu">
            <li id="menu01"><a href="#anchor_overview" class="btn btn01">概要</a></li>
            <li id="menu02"><a href="#anchor_schedule" class="btn btn02">練習予定</a></li>
            <li id="menu03"><a href="#anchor_join" class="btn btn03">参加方法</a></li>
            <li id="menu04"><a href="#anchor_faq" class="btn btn04">FAQ</a></li>
            <li id="menu05"><a href="{% url 'Circle:contact_form' %}" class="btn btn05">お問い合わせ</a></li>
            <li id="menu06"><a href="{% url 'Circle:login' %}" class="btn btn06">会員専用</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- ボディ -->
  <div class="container-fluid body">

    <!-- 概要 -->
    <div class="row overview">
      <div id="overview">
        <div id="anchor_overview">
          <h2><span style="border-bottom: solid 2px black;">私たちについて</span></h2>
        </div>

        <h2>  よさこいチームとは？</h2>

        <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
        <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
        <p>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</p>
        <br>
        <h2>大和まほろ座とは？</h2>
        <p>奈良・大阪で活動する社会人のよさこいチームです！</p>
        <p>よさこいを通して一人でも多くの方々に奈良の魅力を知ってもらうため、日々練習しています！</p>
        <p>参加や演武依頼など興味を持ちましたら、お問い合わせフォームよりご連絡ください！</p>
        <br>
      </div>
      <hr color="#000000" width="100%" size="5">
    </div>

    <!-- 練習予定 -->
    <div class="row overview">
      <div id="anchor_schedule">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23fffaf0&amp;ctz=Asia%2FTokyo&amp;src=aHBkZjJhZHJydnVzYmE0bWlkZGhjcTJzaXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%230B8043&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=1&amp;showTz=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <hr color="#000000" width="100%" size="5">
    </div>

    <!-- 参加方法 -->
    <div class="row join">
      <div id="anchor_join">
        <h2>参加方法</h2>
        <h2>①練習日を確認し、お問い合わせ下さい</h2>
        <h2><p>②担当よりご連絡します</p></h2>
        <br>
        <h2>③見学にお越しいただき、一緒に踊りましょう</h2>
        <h2><p>④サークル加入を希望の場合は、ご連絡ください</p></h2>
      </div>
      <hr color="#000000" width="100%" size="5">
    </div>

    <div class="row overview">
      <div id="anchor_faq">
        <h2>FAQ</h2>
        <ul>
          <li1>■社会人で始める人っていますか？</li1>
            <p>　　→現在メンバーはほとんどが初心者の社会人です。</p>
            <li1>■年齢制限はありますか？</li1>
            <p>　　→特に年齢制限は設けていませんが、高校生以下に関しましては</p>
            <p>　　保護者の同意や同伴(小中学生)等の対応を考えています。</p>
            <li1>■練習は厳しいですか？</li1>
            <p>　　→ほんわかやっています。ほぼ初心者なので未経験者大歓迎です！</p>
            <li1>■大学生でも参加できますか？</li1>
            <p>　　→サークル部活ではないので、奈良のいろんな大学生に来てほしいと思っています。</p>
            <p>　　　大交流会！友達いっぱい！</p>
        </ul>
      </div>
       <hr color="#000000" width="100%" size="5">
    </div>

  </div>

  <!-- フッター -->
  <footer class="jumbotron">
    <div class="container">
      <ul class="snsButtons">
        <li class="snsButtons_twitter"><i class="fab fa-twitter"></i>
          <span class="snsButtons_label">
            <a href="https://twitter.com/yamato_mahoroza" target="_blank">twitter</a>
          </span>
        <li class="snsButtons_instagram"><i class="fab fa-instagram"></i><span class="snsButtons_label">instagram</span>
        <li class="snsButtons_line"><i class="fab fa-line"></i><span class="snsButtons_label">Line</span>
      </ul>
      <center>
        <p><small>&copy; copyright 2020</small></p>
      </center>
    </div>
  </footer>

{% endblock %}