/*============================================
全般的なスタイル
============================================*/
html {
  overflow-y: scroll;
}

body {
  background-color:#fffaf0;
}
/*============================================
ヘッダ
============================================*/
header.jumbotron {
  background: url("/static/images/header.png");
  background-position: center center;
  background-size: cover;
  color: #fff;
  max-height: 150px;
  padding:20px 0px 20px 0px; /* 上右下左 */
  margin-bottom: 0px;
  border-radius: 0;          /* 角を四角化 */
}

div#header_logo {
  padding:0px 0px 0px 0px; /* 上右下左 */
}

h1 {
	padding:0px 0px 0px 0px;		/* 上右下左 位置調整 */
	font-family:"HGP行書体", Helvetica, cursive;	/* フォントの種類 */
	color: #fff !important;
}
h1 a {
	text-decoration:none;	/*リンクの下線を無くす*/
	color: #000 !important;
}

.menu{
  background-color:#000000;
  margin-top: 26px;
  max-height: 42px;
}

 .col-6{
  padding: 0px;
}

p {
  margin:0px 0px 0px 0px;
}

ul#menu {
	height:42px;
	font-weight:bold;
}
li#menu01,li#menu02,li#menu03,li#menu04,li#menu05,li#menu06 {
  float:left;                   /*リスト項目を横に並べる*/
  display:inline;               /*リスト項目をインライン表示にする*/
  list-style-type:none;         /*リストマーカー無しにする*/
  background-repeat:no-repeat;  /*背景画像を繰り返さない*/
}

li#menu01 {
	width:130px; height:42px;	/*背景画像に合わせたサイズ指定*/
}
li#menu02 {
	width:130px; height:42px;	/*背景画像に合わせたサイズ指定*/
}
li#menu03 {
	width:130px; height:42px;	/*背景画像に合わせたサイズ指定*/
}
li#menu04 {
	width:130px; height:42px;	/*背景画像に合わせたサイズ指定*/
}
li#menu05 {
	width:130px; height:42px;	/*背景画像に合わせたサイズ指定*/
}
li#menu06 {
	width:130px; height:42px;	/*背景画像に合わせたサイズ指定*/
}
ul#menu a {
	display:block;				/*リンクをブロック表示にする*/
	height:42px; padding-top:9px; text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}

.btn01 {
	background-color: #000000;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn02 {
	background-color: #000000;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn03 {
	background-color: #000000;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn04 {
	background-color: #000000;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn05 {
	background-color: #000000;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn06 {
	background-color: #000000;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn01:hover {
	background-color: #f0f8ff;
	color: #000000 !important;
}

.btn02:hover {
	background-color: #f0f8ff;
	color: #000000 !important;
}

.btn03:hover {
	background-color: #f0f8ff;
	color: #000000 !important;
}

.btn04:hover {
	background-color: #f0f8ff;
	color: #000000 !important;
}

.btn05:hover {
	background-color: #f0f8ff;
	color: #000000 !important;
}

.btn06:hover {
	background-color: #f0f8ff;
	color: #000000 !important;
}


/*============================================
ボディ
============================================*/
/* コンテナが対象 */
.body {
  margin: 80px 0px 20px 0px;
}

.contact {
  margin: auto;
  max-width: 1000px;
}

.contact-result {
  margin: auto;
  padding-top: 150px;
  max-width: 650px;
}


input#id_name.form-control {
  margin: 10px 0px 10px 0px;
  max-width: 400px;
}

input#id_email.form-control {
  margin: 0px 0px 10px 0px;
  max-width: 400px;
}

input#id_message.form-control {
  margin: 0px 0px 10px 0px;
  max-width: 800px;
}

div#sendButton {
  margin: 10px 0px 0px 0px;
}

button.btn.btn-primary {
  background-color: #000000;
  border-color: #000000;
}

/* マウスカーソルを重ねたとき */
button.btn.btn-primary:hover {
  opacity: 0.7;
}

/*============================================
フッター
============================================*/
footer.jumbotron {
	background-color:#000;
	color:#fff;
	padding:5px 0px 10px 0px; /* 上右下左 */
	margin-bottom: 0px;
    border-radius: 0;         /* 角を四角化 */
}

/* SNS ボタンのグループ */
.snsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;
}
.snsButtons a {
  text-decoration: none;
  color: #fff !important;
}

/* 各 SNS ボタンのボックス */
.snsButtons li {
  display: inline-block;  /* 水平に並べる */
  list-style-type: none;  /* 先頭のポッチを消す */
  margin: 2px;
  padding: 6px 0px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

/* マウスカーソルを重ねたとき */
.snsButtons li:hover {
  opacity: 0.7;
}

/* クリックしたとき */
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

/* アイコン部分 */
.snsButtons i {
  font-size: 18pt;
  min-width: 40px;
  margin: 0px;
  padding: 0px 0px 0px 8px;
  vertical-align: bottom;
}

/* テキスト部分 */
.snsButtons_label {
  min-width: 80px;
  display: inline-block;
  padding: 0px 8px 0px 0px;
  text-align: center;
  font-size: 12pt;
}

/* 各 SNS のブランドカラー */
.snsButtons_twitter  { background: #1da1f2; }
.snsButtons_instagram { background: #cf2e92; }
.snsButtons_line   { background: #00b900; }